body{
    background-color: #D9D7F1;

}
img{
    border-radius: 30px;
    height: 90%;
    width: 90%;
}
.span1{
    color: red;
}
.span2{
    font-size: 30px;
}
.hedding1{
    background-color: #8B9A46 ;
    text-align: center;
    font-family:  'Cormorant Garamond', serif;
}
.heading2{
    text-align: center;
    background-color: #FEE3EC;
}
h2{
    background-color: #FEE3EC;
}
.cca{
    text-align: center;
    background-color: #CDF0EA;
}
.v2{
    background-color: #000;
    color: white;
}
.label1{
background-color: #000;
color: white;
}
.cca1{
   height: 200px;
   width: 200;
   background-color:#FEE3Ec ;
   border-radius: 20px;
   position: absolute;
}
.cca2{
    height:200px;
    width: 200px;
    background-color: #FEE3Ec;
    border-radius: 20px;
    position: absolute;
    margin-left: 200px;
}

.cca3{
    height: 200px;
    width: 200px;
    background-color: #FEE3Ec;
    margin-left: 500px;
    border-radius: 20px;
   
}
.python{
    text-align: center;
    background-color: #000;
    color: white;
}
.java{
    text-align: center;
    background-color: #000;
    color: white;
}
.web{
    text-align: center;
    background-color: #000;
    color: white;
}